@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    /* --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D; */
    font-family: Montserrat;
  }

*{
  margin: 0;
  color: #fff;
}

.logo-title {
  color: #ff5b50;
}

body{
  background-color: #0e0e0e;
}

a{
  cursor: pointer;
}

a:hover{
  opacity: 0.7;
}

#first-section{
  background-image: url('media/background.png');
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
  background-size: cover;
}

#first-section header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#first-section header h1{
  font-size: 32px;
}

#first-section header button{
  border: none;
  border-radius: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000;
  font-weight: 700;
  font-family: Montserrat;
  width: 13%;
  height: 110%;
  cursor: pointer;
}

#first-section header a{
  cursor: pointer;
}

#about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 70px;
}

#about-1{
  /* display: flex; */
  /* flex-direction: column; */
  width: 65%;
}

#about h2{
  font-size: 50px;
  padding: 0 50px;
}

#about-1 p{
  margin-bottom: 50px;
}

#beside{
  margin-top:25%;
}

#gallery{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#gallery div{
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 30px 0;
}

#gallery div img{
  border: 1px solid white;
}

#second-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  position: relative;
}

#second-row1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 20%;
}

.number{
  font-size: 42px;
  font-weight: 500;
}

.num-cap{
  color: rgba(255,255,255,0.6);
}

#second-row2{
  display: flex;
  flex-direction: column;
  width: 80%;
}

#second-row2 div{
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: center;
}

#second-row2 div div{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
}

#second-row2 div div p{
  width: 70%;
}

#second-row2 div div a{
  text-decoration: underline;
  cursor: pointer;
}

#second-top{
  border-left: 1px solid rgba(255,255,255,0.3);
  padding-left: 70px;
}

#second-bottom{
  background-image: url(media/banner.png);
  background-size: cover;
}

#third-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
#third-sec{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}
#third-section h3{
  font-size: 35px;
  margin-bottom: 50px;
}

#third-row1{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255,0.3);
}
#third-row2{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.third-content{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px 0;
  padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.third-content:hover{
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: 0.3s;
}


.third-line1{
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.third-line1 img{
  cursor: pointer;
}
.third-line2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.third-name{
  color: rgba(255,255,255,0.5);
}

.third-rkt{
  color: #ff5b50;
}

#fourth-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#fourth-section h3{
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.fourth-line{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 30px 0;
}
.fourth-artist{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  background-color: #252525;;
  width: 15%;
  justify-content: space-evenly;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.3s;
}
.fourth-artist:hover{
  margin: 5px 0 15px 0;
  transition: 0.3s;
}
.fourth-artist img{
  width:30%;
}
.fourth-artist div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.fourth-artist div b{
  all: unset;
  color: #ff5b50
}

.special{
  background-color: #ff5b50;
}

.special div b{
  color: #fff;
}

#fourth-see-all{
  align-self: center;
  width: 100%;
  text-align: center;
  margin: 40px 0 110px 0;
  cursor: pointer;
}
#fourth-see-all img{
  width: 20px;
  margin-left: 40px;
}

footer{
  background-color: #272727;
  padding: 20px 0;
}

#footer-line1{
  display: flex;
  padding: 30px 50px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

#footer-line1 img{
  width:20px;
  padding: 15px;
  background-color: #ff5b50;
  cursor: pointer;
}

#footer-line2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

#footer-email{
  width:30%;
  border-right: 1px solid rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  padding: 60px 0 60px 50px;
}

#footer-email h3{
  font-size: 24px;
  font-weight:400;
  margin-bottom: 30px;
}

#footer-links{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#footer-input{
  display: inline-block;
  width: 50%;
  background-color: #0e0e0e;
  border: none;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
#footer-send{
  display: inline-block;
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 0;
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat;
  cursor: pointer;
}

#footer-links ul{
  list-style: none;
}

#footer-links li{
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin-top: 15px;
}

li:hover{
  opacity: 0.7;
}

.footer-first{
  font-weight: 600;
  color: white;
}

#footer-line3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 50px 0 50px;
}

#footer-line3 a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

#social-media-icons{
  display: flex;
  float: row;
  justify-content: space-between;
  width: 15%;
}

#social-media-icons img{
  cursor: pointer;
}